<!-- Favicon  -->
<link rel="shortcut icon"  href="/static/img/favicon.ico"   type="image/x-icon">

<div class="container">
<a href=""><h1>Meet the Developer! <span style="color: red; font-size: 40px;">&hearts;</span></h1></a>
<a href=""><h2>Siddharth G Singh</h2></a>
<a href="https://github.com/siddhu1919"><img style="height: 300px;" src="/static/images/img-9.png" alt="S I D"></a>
</div>
<h1 style="text-align:center;">Thank you for visting This Page !</h1>
<p style="text-align:center; text-decoration: none; font-size: 20px; font-weight: bold;">For more awesome Projects please visit <strong><a href="https://github.com/siddhu1919" style="text-decoration: none;">S I D</a></strong>.</p>
<br>
<p style="text-align:center; color:red;"><strong>Copyright information for this Website can't be altered/removed unless you purchase a license.</strong>

<p style="text-align:center;"><strong>Removing copyright information without the license will result in suspension of your hosting and/or domain name(s).</strong>

<p style="text-align:center;"><strong>More information about the license is available <a href="https://github.com/siddhu1919">here</a></strong>.</p>

<style>
img {
  margin: 0 ;
  display: block;
}
h2:hover{
  color: red;
}
h1,h2{
  text-align: center;
  text-decoration: none;
  font-weight: 30px;
  color: black;

}
a{
  text-decoration: none;
}
h1:hover{
  color: blueviolet;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px; 

}
</style>
